version: '{build}'

branches:
  only:
    - master

shallow_clone: true

environment:
  MSBUILD_FLAGS: /verbosity:detailed /maxcpucount
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    CMAKE_GENERATOR: "Visual Studio 12 2013"
    QT5: C:\Qt\5.3\mingw482_32
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    CMAKE_GENERATOR: "Visual Studio 12 2013"
    QT5: C:\Qt\5.3\msvc2013_opengl
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    CMAKE_GENERATOR: "Visual Studio 12 2013 Win64"
    QT5: C:\Qt\5.3\msvc2013_64_opengl
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    CMAKE_GENERATOR: "Visual Studio 12 2013"
    QT5: C:\Qt\5.8\mingw53_32
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    CMAKE_GENERATOR: "Visual Studio 12 2013"
    QT5: C:\Qt\5.8\msvc2015
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2013
    CMAKE_GENERATOR: "Visual Studio 12 2013 Win64"
    QT5: C:\Qt\5.8\msvc2015_64
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    CMAKE_GENERATOR: "Visual Studio 14 2015"
    QT5: C:\Qt\5.3\mingw482_32
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    CMAKE_GENERATOR: "Visual Studio 14 2015"
    QT5: C:\Qt\5.3\msvc2013_opengl
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
    QT5: C:\Qt\5.3\msvc2013_64_opengl
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    CMAKE_GENERATOR: "Visual Studio 14 2015"
    QT5: C:\Qt\5.8\mingw53_32
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    CMAKE_GENERATOR: "Visual Studio 14 2015"
    QT5: C:\Qt\5.8\msvc2015
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
    QT5: C:\Qt\5.8\msvc2015_64

#matrix:
  #fast_finish: true

before_build:
  - set Path=%QT5%\bin;%Path%
  - cmake -H. -Bbuild -G "%CMAKE_GENERATOR%" -DCMAKE_PREFIX_PATH="%QT5%"

build_script:
  - cmake --build build -- %MSBUILD_FLAGS%


